@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(1, 1, 31);
}
body.no-scroll {
  overflow: hidden;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../public/fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Condensed Regular"), local("ProximaNova-Regular"), url("../public/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../public/fonts/ProximaNova-Regular.woff") format("woff"), url("../public/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
}
.preloader .preloader__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  animation: typing infinite 3s;
}
@keyframes typing {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.popup-overlay {
  z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-overlay .popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(268.31deg, rgba(79, 89, 124, 0.8) 0%, rgba(123, 135, 175, 0.8) 50.52%, rgba(63, 72, 105, 0.8) 100%);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  text-align: center;
}
.popup-overlay .popup-content .popup__reg {
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 700;
  line-height: 43.85px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.popup-overlay .popup-content .popup__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-overlay .popup-content .popup__form .popup__input {
  margin-left: 16px;
  width: 202px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  padding-left: 14px;
  margin: 0;
  margin-top: 20px;
}
.popup-overlay .popup-content .popup__form .popup__input:first-child {
  margin-left: 0;
}
.popup-overlay .popup-content .popup__form .popup__input::-moz-placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: rgba(5, 13, 42, 0.4);
}
.popup-overlay .popup-content .popup__form .popup__input::placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: rgba(5, 13, 42, 0.4);
}
.popup-overlay .popup-content .popup__form .popup__buttons {
  display: flex;
}
.popup-overlay .popup-content .popup__form .popup__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 117px;
  height: 43px;
  border: none;
  margin: 0;
  margin-top: 20px;
  margin-left: 10px;
}
.popup-overlay .popup-content .popup__form .popup__buttons button:first-child {
  margin-left: 0;
}
.popup-overlay .popup-content .popup__form .popup__buttons button:last-child {
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
}
.popup-overlay .popup-content .popup__form .popup__buttons .popup__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  margin: 0;
  margin-top: 20px;
  margin-left: 10px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
}

.container {
  display: block;
  margin: auto;
  max-width: 2560px;
}
.container .backTopPhoto {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1440px;
  height: 100%;
  max-height: 746px;
  background-image: url(../public/img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
  filter: blur(0);
  mask-image: linear-gradient(to right, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to left, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to bottom, rgb(1, 1, 31) 94%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to left, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to bottom, rgb(1, 1, 31) 94%, transparent 100%);
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}
.container .header {
  background-color: rgba(1, 1, 31, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}
.container .header .header__container {
  padding: 12px 0;
  width: 72.2222222222%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header .header__container .header__nav {
  display: flex;
  justify-content: start;
  margin-left: 64px;
}
.container .header .header__container .header__nav .header__link {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-left: 36px;
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  transition: 0.5s;
}
.container .header .header__container .header__nav .header__link::after {
  position: relative;
  top: 22px;
  content: " ";
  display: flex;
  width: 100%;
  height: 4px;
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  border-radius: 4px 4px 0px 0px;
  opacity: 0;
  transition: 0.5s;
}
.container .header .header__container .header__nav .header__link:first-child {
  margin-left: 0;
}
.container .header .header__container .header__nav .header__link:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container .header .header__container .header__nav .header__link:hover::after {
  opacity: 1;
}
.container .header .header__container .header__reg {
  margin-left: 340px;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .header .header__container .header__log {
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.container .header .header__container-mob {
  width: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.container .header .header__container-mob .header__btn-mob {
  display: flex;
  width: 25px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 1001;
}
.container .header .header__container-mob .header__btn-mob::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  transition: transform 0.4s ease;
  transform: translateY(6px);
}
.container .header .header__container-mob .header__btn-mob::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  transition: transform 0.4s ease;
  transform: translateY(-6px);
}
.container .header .header__container-mob .header__btn-mob.active {
  background-color: transparent; /* Исчезновение средней линии */
}
.container .header .header__container-mob .header__btn-mob.active::before {
  transform: translateY(0) rotate(45deg);
}
.container .header .header__container-mob .header__btn-mob.active::after {
  transform: translateY(0) rotate(-45deg);
}
.container .header .header__container-mob .header__menu__mob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 1, 31);
  z-index: 1000;
}
.container .header .header__container-mob .header__menu__mob .header__nav__mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .header .header__container-mob .header__menu__mob .header__nav__mob a {
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 700;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 10px;
}
.container .header .header__container-mob .header__menu__mob .header__reg__mob {
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 700;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 10px;
}
.container .header .header__container-mob .header__menu__mob .header__log__mob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
}
.container .main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
}
.container .main .offer {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 72.2222222222%;
}
.container .main .offer .offer__title {
  margin-top: 54px;
  font-family: "Proxima Nova";
  font-size: 48px;
  font-weight: 700;
  line-height: 58.46px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.container .main .offer .offer_slogan {
  margin-top: 6px;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-weight: 400;
  line-height: 34.1px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.container .main .offer .offer__buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .offer .offer__buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.container .main .offer .offer__buttons .offer__log {
  width: 160px;
  height: 44px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
}
.container .main .offer .offer__buttons .offer__play {
  margin-left: 16px;
  width: 160px;
  height: 44px;
}
.container .main .offer .offer__join {
  display: flex;
  flex-direction: column;
  margin-top: 59px;
  width: 864px;
  height: 150px;
  border-radius: 16px;
  background: linear-gradient(268.31deg, rgba(79, 89, 124, 0.4) 0%, rgba(123, 135, 175, 0.4) 50.52%, rgba(63, 72, 105, 0.4) 100%);
  border: 1px solid rgb(58, 64, 84);
}
.container .main .offer .offer__join .offer__join-head {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.container .main .offer .offer__join .offer__join-head .title {
  margin-left: 16px;
  font-family: "Proxima Nova";
  font-size: 22px;
  font-weight: 700;
  line-height: 26.8px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.container .main .offer .offer__join .offer__join-head .advantages {
  display: flex;
  margin-right: 16px;
}
.container .main .offer .offer__join .offer__join-head .advantages .advantage {
  display: flex;
  margin-left: 24px;
}
.container .main .offer .offer__join .offer__join-head .advantages .advantage:first-child {
  margin-left: 0;
}
.container .main .offer .offer__join .offer__join-head .advantages .advantage img {
  width: 36px;
  height: 36px;
}
.container .main .offer .offer__join .offer__join-head .advantages .advantage p {
  margin-left: 6px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 600;
  line-height: 14.62px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .offer .offer__user {
  display: flex;
  margin: 12px 16px 0px 16px;
}
.container .main .offer .offer__user .offer__user-input {
  margin-left: 16px;
  width: 202px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  padding-left: 14px;
}
.container .main .offer .offer__user .offer__user-input:first-child {
  margin-left: 0;
}
.container .main .offer .offer__user .offer__user-input::-moz-placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: rgba(5, 13, 42, 0.4);
}
.container .main .offer .offer__user .offer__user-input::placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: rgba(5, 13, 42, 0.4);
}
.container .main .offer .offer__user .offer__user-button {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 160px;
  height: 44px;
  border: none;
  text-transform: capitalize;
}
.container .main .offer .offer__privacy {
  display: flex;
  margin: 12px 0 0 16px;
}
.container .main .offer .offer__privacy .offer__privacy-text {
  margin-left: 8px;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.05px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container .main .offer .offer__privacy .offer__privacy-text a {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.05px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-bottom: 0.1px solid rgb(255, 255, 255);
}
.container .main .games {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
  width: 72.2222222222%;
  max-width: 1440px;
}
.container .main .games .games__title {
  display: flex;
  justify-content: start;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 700;
  line-height: 43.85px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .games .games__more {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .main .games .games__more .games__slogan {
  display: flex;
  justify-content: start;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container .main .games .games__more .games__link {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
  border-bottom: 0.1px solid rgb(255, 255, 255);
}
.container .main .games .games__box {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .main .games .games__box .games__left {
  max-width: 512px;
  display: flex;
  flex-wrap: wrap;
}
.container .main .games .games__box .games__left .games__panel {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.container .main .games .games__box .games__left .games__panel:nth-child(3n-2) {
  margin-left: 0;
}
.container .main .games .games__box .games__left .games__panel:nth-child(1n+4) {
  margin-top: 16px;
}
.container .main .games .games__box .games__left .games__panel:hover .games__panel-img {
  box-shadow: 0px 0px 24px -4px rgba(72, 112, 255, 0.2);
}
.container .main .games .games__box .games__left .games__panel:hover .games__panel-name {
  color: rgb(72, 112, 255);
}
.container .main .games .games__box .games__left .games__panel .games__panel-img {
  width: 160px;
  height: 120px;
  border-radius: 16px;
  transition: 0.5;
}
.container .main .games .games__box .games__left .games__panel .games__panel-name {
  margin-top: 6px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.container .main .games .games__box .games__left .games__panel .games__panel-discription {
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 300;
  line-height: 14.62px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.container .main .games .games__box .games__right {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  max-width: 512px;
}
.container .main .games .games__box .games__right .games__own {
  display: flex;
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 248px;
  height: 160px;
  border-radius: 16px;
  background-position: 51% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/img/games/DynamiteRichesMW_BigWin_385x190.jpeg");
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(1) .games__panel-name {
  margin: 16px 0 0 12px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(1) .games__panel-discription {
  margin: 5px 0 0 12px;
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 400;
  line-height: 12.18px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(1) .games__panel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0 12px;
  width: 68px;
  height: 22px;
  border-radius: 12px;
  background-color: rgb(72, 112, 255);
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 600;
  line-height: 12.18px;
  color: rgb(255, 255, 255);
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 70.36%);
  z-index: 0;
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(1) .games__panel-name {
  z-index: 2;
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(1) .games__panel-discription {
  z-index: 2;
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(1) .games__panel-button {
  z-index: 2;
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(2) {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  width: 248px;
  height: 160px;
  border-radius: 16px;
  background-position: 51% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/img/games/GOTM_GatorGold_385x190.jpeg");
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(2) .games__panel-name {
  margin: 16px 0 0 12px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(2) .games__panel-discription {
  margin: 5px 0 0 12px;
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 400;
  line-height: 12.18px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .games .games__box .games__right .games__own .games__panel:nth-child(2) .games__panel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0 12px;
  width: 68px;
  height: 22px;
  border-radius: 12px;
  background-color: rgb(72, 112, 255);
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 600;
  line-height: 12.18px;
  color: rgb(255, 255, 255);
}
.container .main .games .games__box .games__right .games__deals {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.container .main .games .games__box .games__right .games__deals .games__deals-img {
  width: 512px;
  height: 120px;
  border-radius: 16px;
}
.container .main .games .games__box .games__right .games__deals .games__deals__discription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main .games .games__box .games__right .games__deals .games__deals__discription .games__deals__text {
  display: flex;
  flex-direction: column;
}
.container .main .games .games__box .games__right .games__deals .games__deals__discription .games__deals__text .games__deals__text-name {
  margin-top: 6px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .games .games__box .games__right .games__deals .games__deals__discription .games__deals__text .games__deals__text-info {
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 300;
  line-height: 14.62px;
  text-align: left;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.container .main .games .games__box .games__right .games__deals .games__deals__discription .games__deals__discription-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 22px;
  border-radius: 17px;
  background-color: rgb(72, 112, 255);
  border: 1px solid rgb(0, 0, 0);
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 600;
  line-height: 12.18px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .games .games__box .games__warning {
  margin-top: 24px;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.05px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .games .games__warning {
  margin-top: 24px;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.05px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .contact {
  padding-top: 74px;
  display: flex;
  justify-content: space-between;
  width: 72.2222222222%;
  max-width: 1440px;
}
.container .main .contact .contactBack {
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1440px;
  height: 100%;
  max-height: 746px;
  background-image: url(../public/img/bg_contact.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 75%;
  z-index: -1;
  overflow: hidden;
  filter: blur(0);
  mask-image: linear-gradient(to top, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to right, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to left, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to bottom, rgb(1, 1, 31) 94%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to right, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to left, rgb(1, 1, 31) 94%, transparent 100%), linear-gradient(to bottom, rgb(1, 1, 31) 94%, transparent 100%);
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}
.container .main .contact .contact__content .contact__title {
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 700;
  line-height: 43.85px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .contact .contact__content .contact__slogan {
  margin-top: 2px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .main .contact .contact__content .contact__form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.container .main .contact .contact__content .contact__form .contact__user-input {
  margin-left: 16px;
  width: 202px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  padding-left: 14px;
  width: 400px;
  height: 44px;
  margin: 0;
  margin-top: 16px;
}
.container .main .contact .contact__content .contact__form .contact__user-input:first-child {
  margin-left: 0;
}
.container .main .contact .contact__content .contact__form .contact__user-input::-moz-placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: rgba(5, 13, 42, 0.4);
}
.container .main .contact .contact__content .contact__form .contact__user-input::placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  color: rgba(5, 13, 42, 0.4);
}
.container .main .contact .contact__content .contact__form .contact__user-input:first-child {
  margin-top: 0;
}
.container .main .contact .contact__content .contact__form .contact__user-area {
  margin-top: 16px;
  width: 400px;
  height: 128px;
  border-radius: 8px;
  padding-left: 14px;
  padding-top: 12px;
  resize: none;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
}
.container .main .contact .contact__content .contact__form .contact__user-area::-moz-placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: rgba(5, 13, 42, 0.4);
}
.container .main .contact .contact__content .contact__form .contact__user-area::placeholder {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: left;
  color: rgba(5, 13, 42, 0.4);
}
.container .main .contact .contact__content .contact__form .contact__form__confirm {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}
.container .main .contact .contact__content .contact__form .contact__form__confirm .contact__form__confirm__privacy {
  display: flex;
  align-items: center;
}
.container .main .contact .contact__content .contact__form .contact__form__confirm .contact__form__confirm__privacy .contact__form__confirm__privacy-text {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.05px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-left: 8px;
}
.container .main .contact .contact__content .contact__form .contact__form__confirm .contact__form__confirm__privacy .contact__form__confirm__privacy-text a {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.05px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-bottom: 0.1px solid rgb(255, 255, 255);
}
.container .main .contact .contact__content .contact__form .contact__form__confirm .contact__form__confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(138, 97, 255, 0.6);
  background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 124px;
  height: 36px;
  border: none;
  margin: 0;
}
.container .footer {
  padding-top: 24px;
  background-color: rgba(1, 1, 31, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}
.container .footer .footer__container {
  width: 72.2222222222%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .footer .footer__container .footer__docs {
  display: flex;
}
.container .footer .footer__container .footer__docs a {
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.container .footer .footer__container .footer__discription {
  margin-top: 16px;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 17.05px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container .footer .footer__container .footer__social {
  margin-top: 24px;
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .footer .footer__container .footer__social .footer__company {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  line-height: 17.05px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container .footer .footer__container .footer__social .footer__icons {
  display: flex;
}
.container .footer .footer__container .footer__social .footer__icons a {
  margin-left: 12px;
}
.container .footer .footer__container .footer__social .footer__icons a:first-child {
  margin-left: 0;
}

@media (max-width: 1440px) {
  .container .header .header__container {
    width: 95%;
    padding: 20px 20px;
  }
  .container .header .header__container .header__nav {
    margin-left: 0;
  }
  .container .header .header__container .header__nav .header__link {
    white-space: nowrap;
  }
  .container .header .header__container .header__reg {
    margin-left: 0;
  }
  .container .header .header__container .header__log {
    margin-left: 0;
  }
  .container .main .games {
    width: 95%;
    padding: 0 20px;
  }
  .container .main .contact {
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1100px) {
  .container .main .games .games__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main .games .games__box .games__right {
    margin-top: 24px;
    margin-left: 0;
  }
  .container .main .contact .contactBack {
    top: 1335px;
  }
}
@media (max-width: 985px) {
  .container .main .offer .offer__join {
    width: auto;
    height: auto;
  }
  .container .main .offer .offer__join .offer__join-head {
    display: flex;
    flex-direction: column;
  }
  .container .main .offer .offer__join .offer__join-head .advantages {
    margin: 12px 16px 0 16px;
  }
  .container .main .offer .offer__join .offer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main .offer .offer__join .offer__form .offer__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 12px;
  }
  .container .main .offer .offer__join .offer__form .offer__user input {
    margin: 12px 0 0 0;
  }
  .container .main .offer .offer__join .offer__form .offer__user button {
    margin: 12px 0 0 0;
  }
  .container .main .offer .offer__join .offer__form .offer__privacy {
    margin: 0;
    padding: 12px 0;
  }
  .container .main .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .main .contact .contactBack {
    top: 1975px;
  }
}
@media (max-width: 785px) {
  .container .header .header__container {
    display: none;
  }
  .container .header .header__container-mob {
    display: flex;
  }
}
@media (max-width: 540px) {
  .container .main .offer .offer__join .offer__join-head .title {
    margin: 0;
    padding: 5px;
  }
  .container .main .offer .offer__join .offer__join-head .advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main .offer .offer__join .offer__join-head .advantages .advantage {
    margin: 0;
  }
  .container .main .games .games__box .games__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main .games .games__box .games__left .games__panel {
    margin: 0;
    padding: 10px;
  }
  .container .main .games .games__box .games__right {
    align-items: center;
  }
  .container .main .games .games__box .games__right .games__own {
    justify-content: center;
  }
  .container .main .games .games__box .games__right .games__own .games__panel:nth-child(n) {
    width: 200px;
  }
  .container .main .games .games__box .games__right .games__deals {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .container .main .games .games__box .games__right .games__deals .games__deals-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .main .games .games__box .games__right .games__deals .games__deals__discription {
    width: 100%;
  }
  .container .main .contact .contactBack {
    top: 2355px;
  }
  .container .footer .footer__container .footer__docs {
    display: flex;
    flex-direction: column;
  }
  .container .footer .footer__container .footer__docs a {
    text-align: center;
  }
  .container .footer .footer__container .footer__docs a span {
    display: none;
  }
}
@media (min-width: 319px) and (max-width: 440px) {
  .container .main .offer .offer__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main .offer .offer__buttons a:last-child {
    margin-top: 10px;
    margin-left: 0;
  }
  .container .main .games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .container .main .games .games__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main .games .games__box .games__right .games__own {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main .games .games__box .games__right .games__own .games__panel {
    margin-top: 12px;
  }
  .container .main .games .games__warning {
    text-align: center;
  }
  .container .main .contact .contactBack {
    top: 3320px;
  }
  .container .main .contact .contact__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .container .main .contact .contact__content .contact__slogan {
    text-align: center;
  }
  .container .main .contact .contact__content .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main .contact .contact__content .contact__form .contact__user-input {
    width: 90%;
  }
  .container .main .contact .contact__content .contact__form .contact__user-area {
    width: 90%;
  }
  .container .main .contact .contact__content .contact__form .contact__form__confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main .contact .contact__content .contact__form .contact__form__confirm .contact__form__confirm {
    margin-top: 11px;
  }
  .container .main .contact .contact__img {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main .contact .contact__img img {
    width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style.css.map */